.list{
    width: 80%;
    text-align: center;
    margin: auto;
}

.previewBox{
    display: flex;
    padding: 5px;
    border-radius: 5px;
    margin: 15px 10px;
    height: 70px;
    overflow: hidden;
}
.previewBox:hover{
    background-color:lightgray;
}

.numbering{
    width: 20%;
    margin: auto;
}
.content{
    width: 80%;
    text-align: center;
    margin: auto;
}

.active{
    background-color: lightgray;
}